:root {
  --main-color-text: #333333;
  --secondary-color-text: #ffffff;
  --green-background: #28a745;
  --blue-background: #0284d0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f4f4f4;
}
/*==============general class==============*/

.underlining {
  text-decoration: none;
}

.mark {
  list-style: none;
}

/*==============/general class==============*/

/*==============header ==============*/

.header-logo {
  font-style: normal;
  font-size: 35px;
  line-height: 1.21;
  text-decoration: none;
  color: var(--secondary-color-text);
}

.header-logo span {
  color: var(--green-background);
}

.header-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-color-text);
}
/*============== /header ==============*/

/*============== info ==============*/
.info {
  background-color: var(--green-background);
}

.info-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  color: var(--secondary-color-text);
}

.info-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.27;
  color: var(--secondary-color-text);
}
.button,
.info-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-color-text);
}

.button {
  cursor: pointer;
  color: var(--secondary-color-text);
  background-color: var(--green-background);
}
/*============== /info ==============*/

/* Section business */

.business-description {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--main-color-text);
}

.business-title {
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: var(--main-color-text);
}

.business-text {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--main-color-text);
}

/* professional team */
.prof-description {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--main-color-text);
}
.prof-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: var(--main-color-text);
}
.prof-text {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--main-color-text);
}
.prof-list {
  list-style: none;
}
.prof-list h3 {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.27;
  text-align: center;
  color: var(--main-color-text);
}
.prof-list p {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--main-color-text);
}

/* footer */
.footer {
  background-color: var(--main-color-text);
}
.footer-list {
  list-style: none;
  text-align: center;
}
.footer-text {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--secondary-color-text);
}
