:root {
  --main-color-text: #333333;
  --secondary-color-text: #ffffff;
  --logo-color: #28a745;
  --section-about-background: #f4f4f4;
  --green-background: #28a745;
  --blue-background: #0284d0;
  --phone-color-text: #808080;
  --hero-color-text: #e9e9e9;
}
