<section class="section-about" id="about">
  <div class="container">
    <h2 class="visually-hidden">About</h2>
    <ul class="about-list list">
      <li class="about-item">
        <div class="about-icon">
          <svg class="icon-house" width="33" height="31">
            <use href="./images/sprite/symbol-defs.svg#icon-house"></use>
          </svg>
        </div>
        <h3 class="about-subtitle">Investmant Banking</h3>
        <p class="about-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="about-item">
        <div class="about-icon">
          <svg class="icon-book" width="35" height="35">
            <use href="./images/sprite/symbol-defs.svg#icon-book"></use>
          </svg>
        </div>
        <h3 class="about-subtitle">Portfolio Manager</h3>
        <p class="about-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="about-item">
        <div class="about-icon">
          <svg class="icon-pen" width="35" height="35">
            <use href="./images/sprite/symbol-defs.svg#icon-pen"></use>
          </svg>
        </div>
        <h3 class="about-subtitle">Tax & Custudio</h3>
        <p class="about-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
    </ul>
  </div>
</section>
