<section class="business" id="business">
  <div class="container">
    <p class="section-top-title dark">This is what we do</p>
    <h2 class="section-title dark">Business Cases</h2>
    <p class="section-description dark">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="business-list list gallery">
      <li class="business-item">
        <a
          class="gallery-link"
          href="./images/section-business/gallary/bussines1-3x.jpg"
        >
          <img
            class="business-image"
            src="./images/section-business/agreement.jpg"
            alt="agreement"
            width="320"
            height="214"
            loading="lazy"
          />
        </a>
      </li>

      <li class="business-item">
        <a
          class="gallery-link"
          href="./images/section-business/gallary/bussines2-3x.jpg"
        >
          <img
            class="business-image"
            src="./images/section-business/graphics.jpg"
            alt="graphics"
            width="320"
            height="214"
            loading="lazy"
          />
        </a>
      </li>

      <li class="business-item">
        <a
          class="gallery-link"
          href="./images/section-business/gallary/bussines3-3x.jpg"
        >
          <img
            class="business-image"
            src="./images/section-business/accord.jpg"
            alt="accord"
            width="320"
            height="214"
            loading="lazy"
          />
        </a>
      </li>

      <li class="business-item">
        <a
          class="gallery-link"
          href="./images/section-business/gallary/bussines4-3x.jpg"
        >
          <img
            class="business-image"
            src="./images/section-business/team.jpg"
            alt="team"
            width="320"
            height="214"
            loading="lazy"
          />
        </a>
      </li>

      <li class="business-item">
        <a
          class="gallery-link"
          href="./images/section-business/gallary/bussines5-3x.jpg"
        >
          <img
            class="business-image"
            src="./images/section-business/work.jpg"
            alt="work"
            width="320"
            height="214"
            loading="lazy"
          />
        </a>
      </li>

      <li class="business-item">
        <a
          class="gallery-link"
          href="./images/section-business/gallary/bussines6-3x.jpg"
        >
          <img
            class="business-image"
            src="./images/section-business/world.jpg"
            alt="world"
            width="320"
            height="214"
            loading="lazy"
          />
        </a>
      </li>

      <li class="business-item">
        <a
          class="gallery-link"
          href="./images/section-business/gallary/bussines7-3x.jpg"
        >
          <img
            class="business-image"
            src="./images/section-business/career.jpg"
            alt="career"
            width="320"
            height="214"
            loading="lazy"
          />
        </a>
      </li>

      <li class="business-item">
        <a
          class="gallery-link"
          href="./images/section-business/gallary/bussines8-3x.jpg"
        >
          <img
            class="business-image"
            src="./images/section-business/assistance.jpg"
            alt="assistance"
            width="320"
            height="214"
            loading="lazy"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
