<section class="callback">
  <div class="container">
    <img
      src="./images/callback/callback.jpg"
      alt="mobile phone"
      width="680"
      height="460"
      loading="lazy"
    />
    <div class="callback-content-wrapper">
      <h3 class="callback-title">Request Callback</h3>
      <form>
        <input
          class="callback-input margin-bottom"
          type="text"
          name="user-name"
          placeholder="Enter your name"
        />
        <input
          class="callback-input"
          type="email"
          name="user-email"
          placeholder="Enter email*"
          required
        />
        <button class="callback-btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
