<header class="header" id="header">
  <div class="container">
    <nav class="header-navigation">
      <a
        class="header-logo link animate__animated animate__rubberBand"
        href="./index.html"
      >
        <img
          class="header-logo-img"
          src="./images/header/logo.svg"
          alt="logo"
          width="39"
          height="30"
        /><span class="header-logo-decoration">Finance</span>
        Ledger
      </a>

      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link" href="#hero">Home</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#about">About</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#business">Cases</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#blog">Blog</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#footer">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
