<section class="hero" id="hero">
  <div class="container">
    <h1
      class="hero-title animate__animated animate__zoomInDown animate__delay-1s"
    >
      The Sky Is The Limit
    </h1>
    <p class="hero-description">We provide world class financial assistance</p>
    <button class="hero-button" type="button">
      <svg class="hero-button-icon" width="7" height="11">
        <use href="./images/sprite/symbol-defs.svg#icon-button"></use></svg
      >Read More
    </button>
  </div>
</section>
