<section class="prof">
  <div class="container">
    <p class="section-top-title dark">Who we are</p>
    <h2 class="section-title dark">Our Professional Team</h2>
    <p class="section-description dark">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="prof-list list">
      <li class="prof-item">
        <img
          src="./images/section-professional/john-doe.jpg"
          alt="John Doe"
          width="420"
          height="280"
          loading="lazy"
        />
        <div class="prof-content">
          <h3 class="prof-name">John Doe</h3>
          <p class="prof-position">President</p>
        </div>
      </li>
      <li class="prof-item">
        <div class="prof-wrapper">
          <img
            src="./images/section-professional/jane-doe.jpg"
            alt="Jane Doe"
            width="420"
            height="280"
            loading="lazy"
          />

          <div class="prof-content">
            <h3 class="prof-name">Jane Doe</h3>
            <p class="prof-position">Vice President</p>
          </div>
          <ul class="social-list list">
            <li class="social-item">
              <a class="social-link link" href=""
                ><svg class="social-icon" width="35" height="35">
                  <use
                    href="./images/sprite/symbol-defs.svg#icon-facebook"
                  ></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a class="social-link link" href=""
                ><svg class="social-icon" width="35" height="35">
                  <use
                    href="./images/sprite/symbol-defs.svg#icon-twitter"
                  ></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a class="social-link link" href=""
                ><svg class="social-icon" width="40" height="35">
                  <use
                    href="./images/sprite/symbol-defs.svg#icon-youtube"
                  ></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a class="social-link link" href=""
                ><svg class="social-icon" width="31" height="35">
                  <use
                    href="./images/sprite/symbol-defs.svg#icon-linkedin"
                  ></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="prof-item">
        <img
          src="./images/section-professional/steve-smith.jpg"
          alt="Steve Smith"
          width="420"
          height="280"
          loading="lazy"
        />
        <div class="prof-content">
          <h3 class="prof-name">Steve Smith</h3>
          <p class="prof-position">Marketing Head</p>
        </div>
      </li>
    </ul>
  </div>
</section>
