<section class="solution">
  <div class="container">
    <img
      class="solution-img"
      src="./images/section-team/team.jpg"
      alt="our team"
      width="680"
      height="460"
      loading="lazy"
    />

    <div class="solution-content-wrapper">
      <p class="section-top-title light">What you are looking for</p>
      <h2 class="section-title light">We provide bespoke solutions</h2>
      <p class="section-description light">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="solution-btn" type="button">Read More</button>
    </div>
  </div>
</section>
